#pic1{
    width: 1000px;
    height: 800px;
    margin: 250px;
}
#pic2{ 
    width: 1000px;
    height: 800px;
    margin:250px;
}
#pic3{
    width:1000px;
    height:800px;
    margin:250px;
}
body{
    background-image:url(keith-misner-h0Vxgz5tyXA-unsplash.jpg);
    text-align: center;
}
p{ 
    font-size: 50px;
    color:beige;
    text-decoration: underline;
}